* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#logo{
    width: 200px;
    height: 110px;
}
#home{
    background:linear-gradient(180deg,grey,silver)
}
#logo-drop{

    width: 180px;
    height: auto;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.foot-drop{
    position: absolute;
    bottom: 1px;
}
@media (max-width:300px) {
    h1 {
        position: relative;
        text-align: center;
    }
}