* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* logo size in nav */
#logo{
    width: 190px;
    height: 108px;
}
/* home page background */
#home{
    background:linear-gradient(180deg,grey,silver)
}
/* about page background */
#about{
    background:linear-gradient(90deg,grey,silver)
}
/* contact page background */
#contact{
    background: linear-gradient(90deg,silver,rgb(167, 165, 163));
}
/* adming page background */
#admin{
    background: linear-gradient(90deg,silver,rgb(167, 165, 163))
}
/* product page background */
#products{
    background: conic-gradient( grey, silver);
    width: 100%;
}
/* checkout background */
#checkout{
  background: linear-gradient(180deg, grey, silver);
}

/* the logo in side nav */
#logo-drop{
    width: 180px;
    height: auto;
}
/* main for all pages */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* about container for about page */
.container-about{
    height: 65vh;
    width: 400px;
    font-size: 14px;
}


/* copyright in side nav */
.foot-drop{
    position: absolute;
    bottom: 12px;
    text-align: center;
    right: 2.5em;
}
/* icons */
.icon{
    cursor: pointer;
    color: black;
    margin-left: 10px;
}

/* contact  */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    border: 1px solid red;
    padding: 20px;
    background: linear-gradient(60deg,silver, white);
    border: none;
    border-radius: 40px;
}
/* inputs for name and email */
#input {
    padding: 5px 15px;
    font-size: 13px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
}
/* input for text box */
#text {
    font-size: 1rem;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
/* Submit BTN */
#submit {
    background: green;
    color: #fff;
    position: relative;
    left: -80px;
    width: 70px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.6s;
    font-size: 0.8rem;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: darkgreen 0px 7px 2px, #000 0px 8px 5px;
  }
  /* btn submit hover */
  #submit:hover {
    opacity: 1;
  }
  /* submit btn active */
  #submit:active {
    top: 6px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
  }
 
/* Clear button  on contact page*/
  #clear {
    position: relative;
    right: -80px;
    top:-23px;
    font-size: 0.8rem;
    background: red;
    color: white;
    width: 70px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.6s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: rgb(157, 12, 12) 0px 7px 2px, #000 0px 8px 5px;
  }
/* clear button hover */
  #clear:hover {
    opacity: 1;
  }
  /* clear button active */
  #clear:active {
    top: 6px;
    box-shadow: red 0px 3px 2px,#000 0px 3px 5px;
  }
  
  /* Search Bar */
  .search {
    position: absolute;
    top: 110px;
    left: 45px;
  }
  
  /* search bar input */
  .search input[type="text"] {
    width: 200px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Search bar button go */
  .search button[type="submit"] {
    background-color: #31383f;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 3.8px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  
  /* Search bar button go:hover  */
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background: rgb(63, 63, 85);
  }
 
 /* admin edit button hover effect */

 .edit{
    border: none;
    outline: none;
    padding: 5px;
    margin: 10px;
    background: transparent;
    border-bottom: 2px solid white;
 }
 /* admin edit button hover effect */
 .edit:hover{
  background: green;
  border-radius: 15px;
  font-weight: bold;
  transition: .6s ease;
  border-bottom: none;
  color: white;

 }
 /* admin delete button */
 .dlt{
    border: none;
    outline: none;
    padding: 5px;
    margin: 10px;
    background: transparent;
    border-bottom: 2px solid white;
 }
 /* admin delete hover effect on delete button */
 .dlt:hover{
  background: darkred;
  color: white;
  border-bottom: none;
  border-radius: 15px;
  font-weight: bold;
  transition: .6s ease;
 }
 #table-checkout {
  height: 3vh;
 }

 table td{
    width: 140px;
 }
 
.content{
  width: 100px;
  margin-left: 10px;
}
.content p {
  font-size: 14px;
  height: 50px;
  margin-top: 20px;
}
.header{
text-align: center;
}
.adtc{
  font-size:11px;
  background: green;
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 5px 10px darkgreen;
  font-weight: bold;
}

/* product card */
.card {
  width: 190px;
  background: white;
  padding: .4em;
  border-radius: 6px;
}
/* product card image */
.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}
/* product card image hover */
.card-image:hover {
  transform: scale(0.9);
  transition: .6s ease;
}
/* product categy */
.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}
/* product card catergory hover */
.category:hover {
  cursor: pointer;
}
/* product card heading */
.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}
  /* product card heading hover */
.heading:hover {
  cursor: pointer;
}
/* product card author styling */
.author {
  color: rgb(91, 90, 90);
  font-weight: 400;
  font-size: 12px;
  padding-top: 20px;
}
/* name styling */
.name {
  font-weight: 600;
}
/* when hovering over the name */
.name:hover {
  cursor: pointer;
}
/* sort container styling */
.sort-container{
  margin-top: 20px;
}
/* sort button styling */
#sortBtn{
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
}
/* styling for select brackground from sort */
select{
  background: grey;
  font-size: 14px;
  padding: 5px;
}
/* styling for images on product page */
img[name='pic']{
  height: 130px;
  display: flex;
}

  /* media queries */
  @media (max-width:300px) {
      h1 {
          position: relative;
          text-align: center;
      }
      p {
          font-size: 12px;
      }
      .container-about {
          height: 55vh;
      }
      .foot-drop{
          font-size: 0.9rem;
      }
      form{
          width: 285px;
      }
      .search{
          position: absolute;
          left: 5px;
      }
      table{
       font-size: 7.5px;
       width: 280px;
       height: 200px;
       letter-spacing: 0;
     }
     .card{
      display: flex;
     }
     
  
      
  }
  @media (max-width:720px) {
      .container-about {
          height: 55vh;
      }
  }