* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* logo size in nav */
#logo{
    width: 200px;
    height: 108px;
}
/* home page background */
#home{
    background:linear-gradient(180deg,grey,silver)
}
/* about page background */
#about{
    background:linear-gradient(90deg,grey,silver)
}
#contact{
    background: linear-gradient(90deg,silver,rgb(167, 165, 163));
}
#admin{
    background: linear-gradient(90deg,silver,rgb(167, 165, 163))
}
#products{
    background: conic-gradient( grey, silver);
}

/* the logo in side nav */
#logo-drop{
    width: 180px;
    height: auto;
}
/* main for all pages */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* about container for about page */
.container-about{
    height: 45vh;
    width: 400px;
    font-size: 14px;
}
/* copyright in side nav */
.foot-drop{
    position: absolute;
    bottom: 12px;
    text-align: center;
    right: 2.5em;
}
/* icons */
.icon{
    cursor: pointer;
    color: black;
    margin-left: 10px;
}

/* contact  */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    border: 1px solid red;
    padding: 20px;
    background: linear-gradient(60deg,silver, white);
    border: none;
    border-radius: 40px;
}
/* inputs for name and email */
#input {
    padding: 5px 15px;
    font-size: 13px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
}
/* input for text box */
#text {
    font-size: 1rem;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
/* Submit BTN */
#submit {
    background: green;
    color: #fff;
    position: relative;
    left: -80px;
    width: 70px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.6s;
    font-size: 0.8rem;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: darkgreen 0px 7px 2px, #000 0px 8px 5px;
  }
  /* btn submit hover */
  #submit:hover {
    opacity: 1;
  }
  /* submit btn active */
  #submit:active {
    top: 6px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
  }
 
/* Clear button */
  #clear {
    position: relative;
    right: -80px;
    top:-23px;
    font-size: 0.8rem;
    background: red;
    color: white;
    width: 70px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.6s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: rgb(157, 12, 12) 0px 7px 2px, #000 0px 8px 5px;
  }
/* clear button hover */
  #clear:hover {
    opacity: 1;
  }
  /* clear button active */
  #clear:active {
    top: 6px;
    box-shadow: red 0px 3px 2px,#000 0px 3px 5px;
  }
  
  /* Search Bar on Product page */
  /* Search Bar */
  .search {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 45px;
  }
  
  /* search bar input */
  .search input[type="text"] {
    width: 200px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Search bar button go */
  .search button[type="submit"] {
    background-color: #31383f;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 3.8px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  
  /* Search bar button go:hover  */
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background: rgb(63, 63, 85);
  }
  
  /* Admin */
  table{
    font-size: 10px;
    text-align: center;
    width: 400px;
    position: relative;
    top: 95px;
    color: white;
    background: grey;
  }
 .container-product{
    display: flex;
    flex-direction: column;
 }
 .edit{
    border: none;
    outline: none;
    padding: 5px;
    margin: 10px;
    background: transparent;
 }
 .dlt{
    border: none;
    outline: none;
    padding: 5px;
    margin: 10px;
    background: transparent;
 }
 table th{
    color: black;
    padding: 5px;
 }
 table td{
    width: 130px;
        background: linear-gradient(silver, rgb(52, 51, 51));
   
 }
/* media queries */
@media (max-width:300px) {
    h1 {
        position: relative;
        text-align: center;
    }
    p {
        font-size: 12px;
    }
    .container-about {
        height: 55vh;
    }
    .foot-drop{
        font-size: 0.9rem;
    }
    form{
        width: 285px;
    }
    .search{
        position: absolute;
        left: 5px;
    }
   table{
    font-size: 7px;
    width: 280px;
    height: 200px;
   }

    
}
@media (max-width:720px) {
    .container-about {
        height: 55vh;
    }
}